<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4b8ae96a-f38e-4e65-bf74-53a08730f5b8/resourcegroups/carboncloudResourceGroup/providers/Microsoft.Web/sites/CarbonCloudTest</ResourceId>
    <ResourceGroup>carboncloudResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carboncloudtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carboncloudtest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarbonCloudTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarbonCloudTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:carboncloudtestdbserver.database.windows.net;Initial Catalog=CarbonCloudTest_db;Persist Security Info=True;User ID=sirion;Password=4048424Dima" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CarbonCloud.Models.ApplicationDbContext, CarbonCloud" MigrationConfiguration="CarbonCloud.Migrations.Configuration, CarbonCloud" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:carboncloudtestdbserver.database.windows.net;Initial Catalog=CarbonCloudTest_db;Persist Security Info=True;User ID=sirion;Password=4048424Dima</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>